asgiref==3.11.1
Django==5.2.13
django-cors-headers==4.9.0
django-filter==25.2
djangorestframework==3.17.1
djangorestframework-simplejwt==5.3.1
joblib==1.5.3
mysqlclient==2.2.8
numpy==2.4.4
pandas==3.0.2
pillow==12.2.0
python-dateutil==2.9.0.post0
python-decouple==3.8
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sqlparse==0.5.5
threadpoolctl==3.6.0
tzdata==2026.1

# Testing & QA
pytest==7.4.4
pytest-django==4.7.0
pytest-cov==4.1.0
coverage==7.4.1
pytest-playwright==0.4.3
playwright==1.40.0
pytest-html==4.1.1
